html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}	

body{
	background:url(https://photos-1.dropbox.com/t/2/AABEYMio03uHlDx6R1wqhdR38OeaAwG6vqpzZY1D_krAJA/12/651879502/jpeg/32x32/1/_/1/2/bg.jpg/EKy-76YFGBUgBygH/Wj96U33llb_4n1XxVH8wQkrqnPMrgxtc_2nF147xNow?size=2048x1536&size_mode=3);
}

a{
	text-decoration:none;
	color:white;
}

#container{
	margin-left: 350px;
	margin-bottom: 50px;
}

.subscribe .fa {
	font-size: 40px;
	margin:5px 3px;
}


.subscribe{
	height: 50px;
	line-height: 50px;
	width: 600px;
	background-color: transparent;
	display:flex;
	align-items: right;
	color: white;
}

.subscribe div{
	margin-left: 325px;
	margin-right: 45px;
}

.fa-youtube-square{	
	color:rgb(178,46,55);
	background-color: rgb(194,96,87);
} 

.fa-twitter-square{
	color:rgb(106,141,199);
	background-color: rgb(144,168,212);
} 

.fa-rss-square{
	color:rgb(204,143,50);
	background-color: rgb(216,171,101);
} 

.fa-facebook-official{
	color:rgb(68,88,151);
	background-color: rgb(116,130,177);
} 

.links {
	display:flex;
}

.links div{
	line-height: 20px;
	height:35px;
	line-height: 35px;
	width: 143px;
	background-color: rgb(180, 41, 46);
	margin:10px 10px 10px 0;
	text-align: center;
	color:white;
}

.firstPic{
	background:url(assets/top-image.png);
	height:300px;
	width:600px;
	/*background-size: stretch;*/
	background-repeat: no-repeat;
	background-position: -500px -100px;
	border: 3px solid white;
	position:relative;
	overflow: hidden;
}

.secondPic img{
	overflow: hidden;
	position: absolute;
	height: 150px;
	width:250px;
	left: 30px;
	top: 50px;
}

.news{
	display: flex;
}

.news div{
	height: 300px;
	width:193px;
	background-color: white;
	margin: 10px 10px 10px 0;
}

.news h4{
	padding:0px 10px 0 10px;
	color:rgb(50,50,50);
}
.news p{
	font-size: 12px;
	padding:3px 10px;
	color: rgb(193,193,193);
}

.news .date{
	color:rgb(179,179,179);
	padding:0 0 0 10px;
}

.news a{
	color:rgb(180, 41, 46);
	padding-left: 60px;
	font-size: 12px;
	padding-bottom: 5px;
}
.skateboarders{
	margin-bottom: 25px;
	
}

.skateboarders div{
	height: 150px;
	line-height:150px;
	width:198px;
	text-align: center;
	float: left;
	border: 3px solid white;
	position:relative;
	color: white;
	padding: 5px;
	margin:2px 3px 2px 0;
}

.skateboarders div:first-child{
	background:url(https://photos-3.dropbox.com/t/2/AAC8gR0GkEZe0UMuyugjwTOYhPUN91rAGAKHhzQ8mLS9Fw/12/651879502/png/32x32/1/_/1/2/sk8er-4.png/EKy-76YFGBsgBygH/t-EdP4AYhbnUz_dJ_VDh8UQsT9HZldm5GPQO4_3YFFo?size=2048x1536&size_mode=3);
	background-size:cover;
	background-position: 200px;
	width:198px;
}

.skateboarders div:nth-child(2){
	background:url(https://photos-1.dropbox.com/t/2/AACy_gpWal0uXc-xoUlulPr5XSE07zFRGH-eGafdAOOi6w/12/651879502/png/32x32/1/_/1/2/sk8er-3.png/EKy-76YFGBsgBygH/MDMLxBbn4RJ2p8MAEv7rLJ19l6oCR0AhZ0d7uImWlyQ?size=2048x1536&size_mode=3);
	background-size: cover;
}

.skateboarders div:nth-child(3){
	clear: left;
	width:398px;
	background:url(https://photos-1.dropbox.com/t/2/AABiZwev1PMKjTAysthlS4cL0g_iNtsJj5Oo3EcJFMQ5dQ/12/651879502/png/32x32/1/_/1/2/sk8er-1.png/EKy-76YFGBsgBygH/MziCC0CTi-wHBU5grY5K3jagHnoMT_vI8EXeB2QgSdU?size=2048x1536&size_mode=3);
  color:white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -45px;
	margin-bottom: 10px
}


.skateboarders div:nth-child(4){
	clear:right;
	height:304px;
	line-height: 300px;
	margin-top:-152px;
	background: url(https://photos-5.dropbox.com/t/2/AACQC8aN3yr1KrEbutyrqRO_Rh-pX6XTBvqZoXq9YhEMnw/12/651879502/png/32x32/1/_/1/2/sk8er-2.png/EKy-76YFGBsgBygH/UM8ePqiezO-UZuV0svk1fDzb0LngBhM_31WWTfi1_Xs?size=2048x1536&size_mode=3);
	background-size: cover;
	background-position: -260px;
	margin-left: 1px;
}

.skateboarders div:nth-child(5){
	clear:left;
	height: 50px;
	line-height: 40px;
	position:absolute;
	left: 180px;
	top: 780px;
	border:none;
	background-color: rgb(180, 41, 46);
	width:150px;
}

.skateboarders div:nth-child(6){
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 21px 0 19px 15px;
	border-color: transparent transparent transparent #b4292e;
	position:absolute;
	top: 780px;
	left: 330px;
}

.design{
	background-color: white;
	clear:both;
	width:600px;
	height: 250px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.design img{
	height: 215px;
	width: 45px;
	margin: 20px 0;
}
.contact{
	background-color: white;
	width: 600px;
	height: 300px;
	display:flex;
	margin-top: 0px;
}
.contact h4{
	margin-top: 12px;
	padding-left: 20px;
	color:rgb(57,57,57);

}

p{
	padding-left: 20px;
	margin-top: 0;
	color:rgb(89,89,89);
	font-size: 12px;
}

div form input{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 250px;
	margin-right: 25px;
	margin-top: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.submit{
	color:white;
	background-color: rgb(180, 41, 46);
	width: 125px;
	padding-left: 40px;
	margin-left: 125px;
	border: 4px;

}

.yourmessage{
	height: 150px;
}

.contact p{
	line-height: 18px;
}

.contact .fa{
	font-size: 25px;
}
.contact .fa-youtube-square{	
	color:rgb(110,110,110);
	background-color: rgb(145,145,145);
} 

.contact .fa-twitter-square{
	color:rgb(122,122,122);
	background-color: rgb(156,156,156);
} 

.contact .fa-rss-square{
	color:rgb(174,174,174);
	background-color: rgb(194,194,194);
} 

.contact .fa-facebook-official{
	color:rgb(79,79,79);
	background-color: rgb(123,123,123);
	margin-left:20px;
} 
