html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit
}	

body{
	font-family: sans-serif;
	margin:0;
}

.top{
	position: relative;
}

.main{
	border-bottom: 2px solid rgb(232, 236, 239);
}
.logo{
	display:flex;
	justify-content: space-between;
	width: 265px;
	line-height: 45px;
	color:rgb(11,63,99);
	position: absolute;
	top: 10px;
	left: 140px;
}

.aboutSearch{
	display:flex;
	justify-content: space-between;
	width:150px;
	color:rgb(11,63,99);
	position:absolute;
	top: 25px;
	right: 114px;
}

.title{
	position:absolute;
	top:150px;
	left:180px;
}

.title h1{
	color:white;
	font-size: 95px;
	font-weight: normal;
	margin-bottom: -10px;
}

.title div{
	color:rgb(11,63,99);
	padding-left: 315px;
	font-weight: bold;
}

.firstArticle, .secondArticle{
	width:800px;
	margin-right: 0px;
	padding-left: 150px 
}

.firstArticle h1{
	font-size: 50px;
	color:rgb(8,52,81);
}

.firstArticle .avatar{
	height: 25px;
}

.sub{
	display:flex;
	margin-top: -25px;
}

.sub div{
	padding-left: 5px;
	padding-top: 7px;
	font-size: 12px;
	color:rgb(41,122,186);
}

.sub div:nth-child(3){
	margin-left: 15px;
	color:rgb(171,186,197);
}

.sub div:nth-child(4){
	color:rgb(171,186,197);
	text-decoration: underline;
}

.firstArticle p{
	color:rgb(104,114,120);
	padding-top: 20px;
	line-height: 25px;
}

.secondArticle h3 {
	color:rgb(12,107,177);
	font-size: 27px;
	font-weight: normal;
	padding-left: 15px;
	border-left: 2px solid rgb(208,208,208);
	line-height: 60px;
}

.secondArticle p{
	color:rgb(104,114,120);
	line-height: 25px;
}

.rightSide{
	width:400px;
	float:right;
	height:400px;
	margin-top: -825px
}

.rightSide img{
	margin-left: 110px;
}

.rightSide a{
	margin-left: 10px;
	font-size: 14px;
	text-decoration: none;
	color:rgb(172,187,197);
}

.rightSide a:nth-child(3){
	margin-left:65px;
}

.rightSide div:nth-child(2){
	margin-top: 10px;
	margin-left: 100px;
	color:rgb(30,115,181);
}

.rightSide .mainPic{
	margin-top: 40px;
	margin-left: 15px;
}

.about {
	margin-left: 197px;
	color:rgb(202,211,218);
	text-decoration:underline;
	font-size:15px;
}

h4{
	color: rgb(10,105,174);
	margin-bottom: -10px;
}

.sidebarText{
	width:300px;
	margin-top: 50px;
	margin-left:10px; 
}

.sidebarText p{
	color:rgb(174,198,188);
	line-height: 24px;
	font-size: 15px;
}

.bottom{
	position:relative;
}

.bottom h1{
	font-size: 55px;
	color: rgb(8, 52, 82);
	margin-left: 360px;
	line-height: 125px;
	margin-bottom: -5px;
	margin-top: -5px;
}

.bottomImg {
	display: flex;
}

.bottom .bottomImg{
	background:rgba(76, 175, 60, 0.3); 

}

.bottom div{
	font-size: 25px;
	display:flex;
	left: 250px;
	top: 400px;
	color:white;
	font-weight:bold;

}

.bottom .imgOneTitle{
	left:0px;
	top:400px;
	position:absolute;
}

.bottom .imgTwoTitle{
	left: 350px;
	top:400px;
	position:absolute;
}

.bottom .imgThreeTitle{
	top:375px;
	left:675px;
	width:260px;
	position:absolute;
}


.bottom .imgFourTitle{
	top:405px;
	left:1000px;
	position:absolute;
}

footer{
	background-color: rgb(8,52,82);
	height:97px;
	margin-right: -20px;
	position:relative;
	color: white;
	font-size: 12px;
}

.ironYard{
	display: flex;
	position: relative;
  top: 30px;
  left: 175px;
  width: 400px;
}

.ironYard p{
	margin-left: 10px;
	margin-top: 20px;
}
.bottomNav{
	display: flex;
	position: absolute;
	top:42px;
	left:800px;
	line-height: 30px;
	width: 400px;
}

.bottomNav div{
	padding-left: 15px;
	padding-right: 10px;
	border-right: 2px solid grey;
}

.bottomNav div:last-child{
	border:none;
}







